<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestServer" value="" />
    <add key="TestNode" value="172.27.1.93" />
    <add key="TestPort" value="4445" />
    <add key="TestEnvironment" value="Dev" />
    <add key="TestBrowser" value="chrome" />
    <add key="IeVersion" value="9" />
    <add key="EncryptionKey" value="encryption_key" />
    <add key="ProxyAddress" value="proxy.iso.com" />
    <add key="ProxyPort" value="8080" />
    <add key="ProxyDomain" value="ISONTDOM1" />
    <add key="InCognito" value="0" />
    <add key="OracleDataSource" value="(DESCRIPTION=     (ADDRESS=       (PROTOCOL=TCP)       (HOST=10.128.194.47)       (PORT=1521)     )     (CONNECT_DATA=       (SERVER=dedicated)       (SERVICE_NAME=nucdevb)     )   )" />
    <add key="OracleUserId" value="RPE" />
    <add key="OraclePassword" value="monday123" />
    <add key="MailPassword" value="c(0)tiviti4" />
  </appSettings>

</configuration>
