<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OracleDataSource" value="(DESCRIPTION=     (ADDRESS=       (PROTOCOL=TCP)       (HOST=10.128.194.47)       (PORT=1521)     )     (CONNECT_DATA=       (SERVER=dedicated)       (SERVICE_NAME=nucdevb)     )   )" />
    <add key="OracleUserId" value="RPE" />
    <add key="OraclePassword" value="monday123" />
  </appSettings>

</configuration>
