<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <appSettings>
    <add key="TestServer" value=""/>
    <add key="TestNode" value="172.27.1.93"/>
    <add key="TestPort" value="4445"/>
    <add key="TestEnvironment" value="Dev"/>
    <add key="TestBrowser" value="chrome"/>
    <add key="IeVersion" value="9"/>
    <add key="EncryptionKey" value="encryption_key"/>
    <add key="ProxyAddress" value="proxy.iso.com"/>
    <add key="ProxyPort" value="8080"/>
    <add key="ProxyDomain" value="ISONTDOM1"/>
    <add key="InCognito" value="0"/>
    <!--<add key="OracleDataSource" value="SLC-VDBDEV01.hcinsight.net:1521/nucdevb"/>-->
    <add key="OracleDataSource" value="10.57.61.173:1521/nucdevb"/>
    <add key="OracleUserId" value="BSingh"/>
    <add key="OraclePassword" value="FL#GB$v75gY"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client"/>
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
</DbProviderFactories>
</system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>
