<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestServer" value=""/>
    <add key="TestPort" value="4445"/>
    <add key="TestBrowser" value="ie"/>
    <add key="EncryptionKey" value="legacy_encryption_key"/>
    <add key="TestEnvironment" value="rpe" />
    <add key="TestMappingFile" value="LegacyMapping.xml" />
    <add key="TestProduct" value="PCI" />
    <add key="ProxyAddress" value="proxy.iso.com"/>
    <add key="ProxyPort" value="8080"/>    
    <add key="ProxyDomain" value="ISONTDOM1"/>
  <add key="InCognito" value="0"/>
  </appSettings>
</configuration>
